@import "../abstract/themes";
@import "../abstract/mixins";
@import "../abstract/variables";

.accrordian-box {
    display: flex;
    flex-direction: column;

    max-width: 95%;
    margin-left: 5%;
    margin-top: 3%;
    width: fit-content;
    
    border-radius: 5px;
    box-shadow: 0 2px 2.2px rgba(243, 248, 251, 0.034), 0 1px 5.3px rgba(0, 0, 0, 0.048), 0 1px 10px rgba(0, 0, 0, 0.06),
        0 1px 17.9px rgba(0, 0, 0, 0.072), 0 1px 33.4px rgba(0, 0, 0, 0.086);

    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    font-family: $roboto-slab;
    
    #collapse {
        align-self: flex-end;
        margin: 5px;

        border: 1px solid #000000;
        box-sizing: border-box;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
        border-radius: 4px;
        &:active {
            transform: scale(0.9,0.9);
        }
    }

    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 21px;

    #begin {
        align-self: flex-end;
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-top: auto;
        cursor: pointer;
    }
    
}

.accrordian-box > div {
    margin: 1rem 0.5rem 2rem 2rem;
}

// big long range line
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: #B0C9CE;
	border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
}

.react-select-province__indicators {
    min-height: 35px !important;
}

.react-select-province-container {
    min-height: 35px;
    width: 100%;
    align-self: center;
    background-color: transparent;
}

.react-select-province__menu {
    font-size: small;    
}

.react-select-province__control {
    min-height: 35px !important;   
    background-color: transparent !important;
    border-width: 2px !important;
}

.react-select-province__value-container {
    max-width: 300px;
    background-color: transparent;
 
}
#province {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

