@import "../abstract/themes";
@import "../abstract/mixins";

#ToggleIcon {
    width: 55px;
    height: auto;
    background-color: transparent;

    @include themify($themes) {
        color: themed("textColor");
        // background-color: themed("backgroundColor");
    }

        @supports not(backdrop-filter: blur(15px))
    {
        @include themify($themes) {
            color: themed("polyFillTextColor");
        }
    }
}

#ToggleTheme {
    text-align: center;
    text-align: -webkit-center; // know the difference
    padding: 16px;
}

.box {
    cursor: pointer;
    max-height: 60px;
    max-width: 60px;

    box-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.034), 0 1px 5.3px rgba(0, 0, 0, 0.048), 0 1px 10px rgba(0, 0, 0, 0.06),
        0 1px 17.9px rgba(0, 0, 0, 0.072), 0 1px 33.4px rgba(0, 0, 0, 0.086);
        
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    filter: drop-shadow(1px 0px 10px rgba(0, 0, 0, 0.35));
    backdrop-filter: blur(15px);
    @supports not(backdrop-filter: blur(15px))
    {
        background-color: rgba(255, 255, 255, .9);
    }
    
    &:active {
        transform: scale(0.9,0.9);
    }
    
    border-radius: 12px;
}
