$themes: (
  light: (
    backgroundColor: #f5fffa,
    rootBackground: #ffc9c9,
    textColor: #181818,
    buttonTextColor: #408bbd,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: #fff,
    buttonBorder: 2px solid #fff,
    mapFill: #c5efff,
    graidentOne: rgba(255,255,255,1) 0%,
    graidentTwo: rgba(245,255,250,1) 33%,
    graidentThree: rgba(221,255,238,1) 100%
  ),
  dark: (
    backgroundColor: #949494,
    rootBackground: #949494,
    textColor: rgb(235, 235, 235),
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    mapFill: #fff,
    graidentOne: rgba(136, 136, 136, 1) 0%,
    graidentTwo: rgba(148, 148, 148, 1) 50%,
    graidentThree: rgba(175, 175, 175, 1) 100%
    ),
);
