@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

body {
    margin: 0;
    min-height: 100vh;
}

#App {
    min-height: 100vh;
}

text {
    font-family: Roboto, 'Segoe UI',  sans-serif, Oxygen;
}

::selection {
    user-select: none;
}